@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root   {
    --background: #19191B;
    --main-clr: #5A54D4;
    --text-main: #fff;
}

*   {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {   
    background-color: var(--background);
    color: var(--text-main);
    font-family: "Nunito Sans", sans-serif;
}

nav {   
    display: flex;
    width: 367px;
    height: 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    flex-shrink: 0;
}